@import '../../styles/responsive';

.typingChallenge {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}

.section {
  margin: 0 10%;
  //flex: 1;
}

.timer {
  font-size: 3em;
  text-align: center;
}

.statementContainer {

}

.statement {
  font-size: 1.5em;
  text-align: center;
}

.source {
  font-size: 0.8em;
  text-align: center;
}

.answer {
  textarea {
    font-size: 1.5em;
    min-width: 100%;
    height: 20vh;
    text-align: center;
    border: none;
    border-radius: 10px;

    &:focus {
      border: none;
      outline: none;
    }
  }
}

.ok {
  background-color: #8dd188;
}

.nok {
  background-color: #fc5855;
}



